<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-app.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/7.14.1/firebase-auth.js" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js" defer></script>
</head>

<body>
    <main>
        <section>
            <form id="login">
                <label>Login</label>
                <input type="text" name="login" />
                <label>Password</label>
                <input type="password" name="password" />
                <button>Log in</button>
            </form>
        </section>

        <script>
            window.addEventListener("DOMContentLoaded", () => {
                const firebaseConfig = {
                    apiKey: "AIzaSyB2MGU0c7mKcx8LeXJEBxAEdJGFv0_AqAs",
                    authDomain: "cemaraapps.firebaseapp.com",
                    databaseURL: "https://cemaraapps-default-rtdb.firebaseio.com",
                    projectId: "cemaraapps",
                    storageBucket: "cemaraapps.appspot.com",
                    messagingSenderId: "339240129870",
                    appId: "1:339240129870:web:fd3a934049f47237d3fa1f",
                    measurementId: "G-8HBBZ2GB62"
                };

                firebase.initializeApp(firebaseConfig);

                firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE);

                document
                    .getElementById("login")
                    .addEventListener("submit", (event) => {
                        event.preventDefault();
                        const login = event.target.login.value;
                        const password = event.target.password.value;

                        firebase
                            .auth()
                            .signInWithEmailAndPassword(login, password)
                            .then(({
                                user
                            }) => {
                                return user.getIdToken().then((idToken) => {
                                    return fetch("/sessionLogin", {
                                        method: "POST",
                                        headers: {
                                            Accept: "application/json",
                                            "Content-Type": "application/json",
                                            "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                                        },
                                        body: JSON.stringify({
                                            idToken
                                        }),
                                    });
                                });
                            })
                            .then(() => {
                                return firebase.auth().signOut();
                            })
                            .then(() => {
                                window.location.assign("/profile");
                            });
                        return false;
                    });
            });
        </script>
    </main>
</body>

</html>